.chat-container {
  margin: 0;
  padding: 0;

  position: fixed;
  bottom: 0;
  left: 16px;
  z-index: 2;

  width: 100%;
  max-width: 340px;
  height: auto;
}

.chat-button {
  width: 100%;
  max-width: 56px;
  max-height: 56px;

  margin: 0;
  padding: 4px;
  border-radius: 25px;

  background: white;
  cursor: pointer;
}

.chat-content {
  margin: 0;
  padding: 0;
  background: white;
  display: none;
}

.mostrarOcultar {
  display: block;
}
