* {
  user-select: none;
}

body {
  margin: 0;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 1.2fr 3fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    " poster  poster "
    " sidebar mision "
    " sidebar vision "
    " sidebar quienesSomos";
}

.img-nav {
  grid-area: poster;
  margin-top: 100px;
  width: 100%;
  max-height: 400px;
}
ul {
  padding: 0;
}

ul p {
  margin: 0;
  color: white;
  text-decoration: none;
  list-style: none;
  margin: 10px;
  text-align: left;
}

.reciclado {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.square {
  margin: 50px;
  text-align: center;
}
.mision {
  grid-area: mision;
}
.vision {
  grid-area: vision;
}
.footer {
  grid-area: sidebar;
}

.titulo {
  text-align: center;
  margin: 30px;
}

.footer {
  padding: 3rem;
  background: rgba(1, 1, 1, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.ico-footer_reciclaje {
  width: 3.5rem;
  height: 3.5rem;
}
