* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

/* BANNER */
.minicontainer {
  width: 100%;
  height: 33.2rem;

  cursor: pointer;
  object-fit: cover;
}



