* {
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
  margin: 0;
  border: 0;
  font-size: 16px;
}

.header{
  align-items: center;
  align-content: center;
  display:  flex;
  background: black;
  width: 100%;
  height: 100px;

}

.header__img{
  width: 110px;
  height: 100px;
  margin-top: 1rem;
  margin-inline-start:45rem ;

}


.menu {
  /*margin-top: 2rem;*/
  background: white;
	/*border-top: 1px solid #000;
	border-bottom: 1px solid #000;*/
	display: flex;
  justify-content: space-between;
  /*margin-bottom: 2rem;*/
}

.menu a {
	padding: 10px;
	color: black;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	width: 100%;
	text-align: center;
	transition: 0.2s ease all;
	font-size: 16px;
}

.menu a:hover {
	background: black;
	color: white;
}
.footer{
  justify-content: space-around;
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  color:white;
  background: black;
}

/* COMIENZA BANNER */
.container-banner{
  background-color: rgba(0, 0, 0, 0.0);
  width: 100%;
  height: 30em;

  display: flex;
  justify-content: center;
  align-items: center;
}
.minicontainer{
  overflow: hidden;
  margin: 0.3125em;
  width: 1720px;
	height: 470px;

  cursor: pointer;
	transition: 450ms all;
	
  object-fit: cover;
}

/* API FACEBOOK */
.chat-container{
  margin: 0;
  padding: 0; 

  width: 100%;
  max-width: 340px;
  height: auto;

  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 5;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.chat-button{
  width: 100%;
  max-width: 4.45em;
  max-height: 4.75em;

  margin: 0;
  padding: 0.4375em;
  border-radius: 1.5em;

  background: white;
  cursor: pointer;
}
.chat-content{
  margin:0;
  padding: 0;
  background: white;
  display: none;
}
.mostrarOcultar{
  display: block;
}

