* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  letter-spacing: 1px;
}

.banner-img {
  width: 100%;
  height: 33.5rem;
}
.minicontainer {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}

.overlay h2 {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  position: absolute;
  top: 55%;
}
