* {
  box-sizing: border-box;
  user-select: none;
}
.background-footer {
  background-color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
  letter-spacing: 1px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    " header   "
    " menu     "
    " nav        "
    " galeria  "
    " footer   "
    " dev        ";
}
/* GRID AREAS */
.header {
  grid-area: header;
}
.menu {
  grid-area: menu;
}
.btn-container {
  grid-area: nav;
}
.contenedorPrincipal {
  grid-area: galeria;
}
.footer {
  grid-area: footer;
}
.developers-container {
  grid-area: dev;
}
/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ */
.ocultar {
  display: none;
}

.contenedorPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn-ghost {
  position: relative;
  display: inline-block;
  padding: 1rem;
  color: black;
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 1s, background 1s;
  border-bottom: 1.6px solid rgba(1, 1, 1, 10);
}

#btn-ghost:hover {
  color: whitesmoke;
  background-color: black;
}

#btn-ghost:active {
  box-shadow: inset 0 0 32px black;
}

.description {
  margin: 20px;
  width: 80%;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  border-radius: 20px;
  color: black;
}

.imagenB {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: fill;
}

.contenedorCarrousel {
  margin-top: 16px;
  position: relative;
  height: 550px;
}

.BtnAtras,
.BtnAdelante {
  font-size: 1.8rem;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-weight: bold;
  position: absolute;
  color: whitesmoke;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.BtnAtras:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}
.BtnAdelante:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}

.overlay2 {
  color: white;
  font-weight: 600;
  position: absolute;
  top: 85%;
  left: 50%;
  right: 50%;
  text-align: center;
}
.BtnAtras {
  left: 2%;
  top: calc(50%);
}

.BtnAdelante {
  right: 2%;
  top: calc(50%);
}
