*{
  box-sizing: border-box;
  user-select: none;
}
body{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../docs/backgrounds/wpp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.titulo-principal{
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 600;
}
.header{
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  background: rgba(1, 1, 1, 0.9);
  width: 100%;
  height: 80px;
}
.header__img{
  width: 10.31rem;
  height: 6rem;
  margin: 0 -35px -35px -10px;
}
.menu {
  background: rgba(1, 1, 1, 0.9);
  height: 35px;
  margin-top: 1px;
	display: flex;
  justify-content: space-between;
}
.menu a {
  width: 100%;
  height: 38px;
  font-size: 0.855em;
  line-height: 250%;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
  text-align: center;
	transition: 0.2s ease all;
}
.menu a:hover {
  background: whitesmoke;
  color: black;
}

.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.btn-ghost{
  position: relative;
  display: inline-block;
  padding: 1rem 1rem 1rem 1rem;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  transition: color 1s, background 1s;
  border-bottom: 0.1rem solid rgba(1, 1, 1, 0.9);
}

.btn-ghost:hover{
  color: white;
  background-color: rgba(1, 1, 1, 0.9);
}

.btn-ghost:active{
  box-shadow: inset 0 0 2rem white;
}

#description{
  background-color: rgba(0, 0, 0, 0.1);
  font-family: cursive;
  font-size: 1.5rem;
  margin-left: 27px;
  padding: 10px;
  width: 25%;
  height: auto;
  border-radius: 20px;
  color: black;
  text-align: center;
}
.contenedorPrincipal{
  display: flex;
  height: 37rem;
  justify-content: space-between;
  align-items: center;
}

.contenedorSecundario{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction:  row-reverse;
}
/*carousel*/

.subtitulo{
  margin: 0;
  color: black;
  display: inline;
  font-size: 1.56em;
  font-weight: 500;
  text-transform: uppercase;
}

.linea-division{
  width: 80%;
  height: 2px;
  background-color: rgba(1, 1, 1, 0.9);
}

.productos{
  color:whitesmoke;
  margin: 7px 0;
  font-size: 25px;
  font-weight: 600;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
  margin-top: 0;
}

/*estilos de materialize para el carousel*/

.carousel{
  min-height: 250px;
}
.carousel .carousel-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 550px;
  height: 400px;
}

.carousel .carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 20px;
}



/*footer*/
.footer{
  width: 100%;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  background: rgba(1, 1, 1, 0.9);
  color:white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
}
.footer p{
  margin: 0;
  padding: 0.66rem 0;
}

.contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reciclado{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ico-footer_reciclaje{
  width: 3.5rem;
  height: 3.5rem;
}

/* API FACEBOOK */
.chat-container{
  margin: 0;
  padding: 0; 

  width: 100%;
  max-width: 21.25em;
  height: auto;

  position: fixed;
  bottom: 0;
  left: 0.625em;
  z-index: 2;
}
.chat-button{
  width: 100%;
  max-width: 3.5em;
  max-height: 3.5em;

  margin: 0;
  padding: 0.4375em;
  border-radius: 1.5em;

  background: white;
  cursor: pointer;
}
.chat-content{
  margin:0;
  padding: 0;
  background: white;
  display: none;
}
.mostrarOcultar{
  display: block;
}

/*ressponsibe design*/
@media (max-width: 1200px) {
  body{
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  body{
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  body{
    font-size: 11px;
  }
}
@media (max-width: 576px) {
  body{
    font-size: 12px;
  }
}