* {
  box-sizing: border-box;
  user-select: none;
}
.background-footer {
  background-color: whitesmoke;
}
.menu-despegable {
  display: none;
}
.menu-desplegable__h1 {
  display: none;
}
.menu-desplegable__align {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
  letter-spacing: 1px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    " header   "
    " menu     "
    " nav        "
    " galeria  "
    " footer   "
    " dev        ";
}

.ocultar {
  display: none;
  position: absolute;
}

.header {
  grid-area: header;
}
.menu {
  grid-area: menu;
}
.btn-container {
  grid-area: nav;
}
.footer {
  grid-area: footer;
}
.developers-container {
  grid-area: dev;
}
.contenedorPrincipal {
  grid-area: galeria;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-ghost {
  position: relative;
  display: inline-block;
  padding: 16px;
  color: black;
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 1s, background 1s;
  border-bottom: 1.6px solid rgba(1, 1, 1, 10);
}

.btn-ghost:hover {
  color: whitesmoke;
  background-color: black;
}

.btn-ghost:active {
  box-shadow: inset 0 0 32px black;
}

.description {
  margin: 20px;
  border-width: thin;
  border-bottom: 1px solid black;
  width: 80%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.center_y {
  position: relative;
  top: 50%;
  transform: translateX(-50%);
}

.center_x {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#slider-container {
  border-radius: 15px;
  margin-top: 15px;
  width: 80%;
  height: 550px;
  position: relative;
  overflow: hidden;
}

.slider {
  height: 100%;
  width: 100%;
  position: absolute;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.slider-arrow {
  color: white;
  cursor: pointer;
  font-size: 50px;
  position: absolute;
}

#arrow-prev {
  margin-left: 30px;
}

#arrow-next {
  right: 0.5%;
}

#dots-wrapper {
  display: flex;
  position: absolute;
  bottom: 30px;
}

.dot-nav {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  cursor: pointer;
  margin: 0 8px;
  border: 2px solid white;
}

.dot-nav:hover {
  background-color: white;
}

.active-dot {
  background-color: darkgray;
}

#overlay2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 15px;
  color: white;
  font-weight: 600;
  position: absolute;
  bottom: 87%;
  text-align: center;
}
