* {
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
  margin: 0;
  border: 0;
  font-size: 16px;
}

.header{
  align-items: center;
  display:  flex;
  background-color:rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 120px;
  justify-content: space-between;
}

.header__img{
  margin-top: 10px;
  width: 110px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: 5rem;
}


.menu {
  /*margin-top: 2rem;*/
  background-color:rgba(0, 0, 0, 0.7);
	/*border-top: 1px solid #000;
	border-bottom: 1px solid #000;*/
	display: flex;
  justify-content: space-between;
  /*margin-bottom: 2rem;*/
}

.menu a {
	padding: 10px;
	color: white;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	width: 100%;
	text-align: center;
	transition: 0.2s ease all;
	font-size: 16px;
}

.menu a:hover {
	background: white;
	color: black;
}
.footer{
  justify-content: space-around;
  display: flex;
  align-items: center;
  height: 200px;
  width: 100%;
  color:white;
  background-color:rgba(0, 0, 0, 0.8);
}

.img-footer{
  
}
/* COMIENZA BANNER */
.container-banner{
  background:white;
  width: 100%;
  height: 22em;

  display: flex;
  justify-content: center;
  align-items: center;
}
.container-banner::-webkit-scrollbar{
  width: 7px;
  background: black;
}
.container-banner:hover .minicontainer{
  opacity:0.3;
}
.container-banner:hover .minicontainer:hover{
  z-index:2;
  transform: scale(1.02);
  opacity: 1;
}
.minicontainer{

  margin: 0.3125em;
  width: 290px;
	height: 240px;;
  
  border: 1px solid black;
  border-radius: 5px;

  cursor: pointer;
	transition: 450ms all;
	
  object-fit: cover;
}

.title{
  margin-right: 1100px;
}
/* API FACEBOOK */
.chat-container{
  margin: 0;
  padding: 0; 

  width: 100%;
  max-width: 340px;
  height: auto;

  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 5;
}
.chat-button{
  width: 100%;
  max-width: 21.25em;

  margin: 0;
  padding: 4px 0;
  border-radius: 1em;

  background: #337AB7;
  color: white;

  cursor: pointer;
  user-selector: none;
  text-align: center;
}
.chat-content{
  margin:0;
  padding: 0;
  background: white;
  display: none;
}
.mostrarOcultar{
  display: block;
}

