<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/about.css">
    <title>Termoformados Jg</title>
</head>
<body>
    <header class="header">
        <img class="header__img" src="../docs/LOGO.png" alt="Logotipo">
        <h1 class="titulo-principal">Termorformados & Troquelados</h1>
    </header>

    <nav class="menu">
            <a href="index.html">Inicio</a>
            <a href="products.html">Productos</a>
            <a href="about-contact.html">Quienes Somos & contactanos</a>
    </nav>
    <div>
        <img src="" alt="">
    </div>
    <div>
</div>
    <footer class="footer">
        <div class="contacto">
            <p>Contáctanos:</p>
            <p>Tel.9018216 - termorformados.jg@hotmail.com</p>
        </div>
        <div class="encuentranos">
            <p>Dirección: Calle 32 B # 19 09 Este</p>
            <p>Soacha - Cundinamarca</p>
        </div>
    </footer>
        
    <section class="chat-container">
        <img src="../docs/icon-Facebook.png" class="chat-button" id="buttonFb" alt="Messenger-Facebook">
        <div class="chat-content" id="chat">
</body>
</html>