<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/contact.css">
    <title>Quienes Somos</title>
</head>
<body>
    <div class="contenedor">
        <header class="header">
            <img class="img-header" src="../docs/LOGO.png" alt="">
            <h1 class="titulo">¿Quienes Somos?</h1>
        </header>
        <sidebar class="contenido">
            <div class="mision square">
                <p>Misi&oacuten</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam atque neque cumque soluta, libero odit fugiat animi, a nihil illo ab eligendi sint exercitationem reiciendis rem itaque laboriosam voluptatem vero?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem fuga facere ducimus, voluptates tempore ipsum laborum, distinctio enim reiciendis nam ut et at debitis sed iusto, laboriosam ipsa minus aliquid.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque velit, et officia error vitae hic dignissimos nulla blanditiis veritatis sint adipisci accusantium beatae consequuntur assumenda mollitia consequatur magnam est sequi.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aliquid cum accusantium nostrum voluptas deleniti cupiditate debitis adipisci at, incidunt quod commodi sequi beatae nihil illum numquam tempore obcaecati laborum.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat laudantium recusandae iusto beatae voluptatum ut pariatur perspiciatis obcaecati eius repudiandae ducimus, omnis tenetur odit nostrum a dolores quo. Consequatur, fugit?
                </p>
            </div>
            <div class="vision square">
                <p>Visi&oacuten</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam atque neque cumque soluta, libero odit fugiat animi, a nihil illo ab eligendi sint exercitationem reiciendis rem itaque laboriosam voluptatem vero?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem fuga facere ducimus, voluptates tempore ipsum laborum, distinctio enim reiciendis nam ut et at debitis sed iusto, laboriosam ipsa minus aliquid.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque velit, et officia error vitae hic dignissimos nulla blanditiis veritatis sint adipisci accusantium beatae consequuntur assumenda mollitia consequatur magnam est sequi.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aliquid cum accusantium nostrum voluptas deleniti cupiditate debitis adipisci at, incidunt quod commodi sequi beatae nihil illum numquam tempore obcaecati laborum.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat laudantium recusandae iusto beatae voluptatum ut pariatur perspiciatis obcaecati eius repudiandae ducimus, omnis tenetur odit nostrum a dolores quo. Consequatur, fugit?
                </p>
            </div>
        </sidebar>
        <footer class="footer">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dignissimos praesentium, aperiam harum delectus ea ipsum provident, quasi corrupti asperiores voluptate veniam temporibus iure repudiandae eum voluptas tenetur nemo? Doloremque.
        </footer>
    </div>
</body>
</html>