<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/contact.css">
    <title>Cont&aacutectanos</title>
</head>
<body>
    <header class="header">
        <img class="img-header" src="../docs/LOGO.png" alt="Logotipo">
    </header>

    <nav class="menu">
        <a href="index.html">Inicio</a>
        <a href="products.html">Productos</a>
        <a href="about.html">Acerca de</a>
    </nav>

    <img class="img-nav" src="../docs/a.jpeg">

    <div class="contenedor">  
        <footer class="footer">
            <h2 class="tituloC">Cont&aacutectanos</h2>
            <ul>
                <li>Cel.1234567890</li>
                <li>Dir.1234567890</li>
                <li>Email.1234567890</li>
                <li>wa.1234567890</li>
                <li>no se, otra otra</li>
            </ul>
            <div class="social-btns">
                <a class="btn facebook"  href="#"><img class="fa fa-facebook"  src="../docs/iconfb.png"></a>
                <a class="btn instagram" href="#"><img class="fa fa-instagram" src="../docs/iconig.png"></a>
            </div>
        </footer>  
        <sidebar class="contenido">
            <h1>Quienes Somos</h1>
            <div class="mision square">
                <h2 class="titulo">Misi&oacuten</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam atque neque cumque soluta, libero odit fugiat animi, a nihil illo ab eligendi sint exercitationem reiciendis rem itaque laboriosam voluptatem vero?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem fuga facere ducimus, voluptates tempore ipsum laborum, distinctio enim reiciendis nam ut et at debitis sed iusto, laboriosam ipsa minus aliquid.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque velit, et officia error vitae hic dignissimos nulla blanditiis veritatis sint adipisci accusantium beatae consequuntur assumenda mollitia consequatur magnam est sequi.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aliquid cum accusantium nostrum voluptas deleniti cupiditate debitis adipisci at, incidunt quod commodi sequi beatae nihil illum numquam tempore obcaecati laborum.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat laudantium recusandae iusto beatae voluptatum ut pariatur perspiciatis obcaecati eius repudiandae ducimus, omnis tenetur odit nostrum a dolores quo. Consequatur, fugit?
                </p>
            </div>
            <div class="vision square">
                <h2 class="titulo">Visi&oacuten</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam atque neque cumque soluta, libero odit fugiat animi, a nihil illo ab eligendi sint exercitationem reiciendis rem itaque laboriosam voluptatem vero?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem fuga facere ducimus, voluptates tempore ipsum laborum, distinctio enim reiciendis nam ut et at debitis sed iusto, laboriosam ipsa minus aliquid.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque velit, et officia error vitae hic dignissimos nulla blanditiis veritatis sint adipisci accusantium beatae consequuntur assumenda mollitia consequatur magnam est sequi.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aliquid cum accusantium nostrum voluptas deleniti cupiditate debitis adipisci at, incidunt quod commodi sequi beatae nihil illum numquam tempore obcaecati laborum.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat laudantium recusandae iusto beatae voluptatum ut pariatur perspiciatis obcaecati eius repudiandae ducimus, omnis tenetur odit nostrum a dolores quo. Consequatur, fugit?
                </p>
            </div>
        </sidebar>
    </div>
</body>
</html>