<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="Index" />
    <meta name="robots" content="follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Frabricamos productos Termoformados para la industria farmacéutica, cosmetica, publicidad. Estuches - Exhibidores - Blister."
    />
    <meta
      name="keywords"
      content="Termoformados - Plasticos - PET - Poliestireno - Estuches - Exhibidores - Empaques - Blister - Bogotá"
    />
    <meta name="author" content="Termoformados y Troquelados JG LTDA" />
    <meta name="copyright" content="Termoformados y Troquelados JG LTDA" />
    <link
      rel="shortcut icon"
      href="../docs/icons/TermoformadosJG.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300&family=Montserrat:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/contact.css" />
    <link rel="stylesheet" href="../css/botones-redes-sociales.css" />
    <link rel="stylesheet" href="../css/Api-Facebook.css" />
    <link rel="stylesheet" href="../css/MediaQuery/contactMediaQuery.css" />
    <title>
      ✅TODO en Termoformados Diseño y Frabricacion - Plasticos, PET y
      Poliestireno en Bogotá ♻️
    </title>
  </head>
  <body>
    <section class="fixed">
      <header class="header">
        <img
          class="header__img"
          src="../docs/icons/TermoformadosJG.ico"
          alt="TermoformadosJG"
        />
        <h1 class="titulo-principal">
          Termoformados & Troquelados <strong class="LTDA"> LTDA.</strong>
        </h1>
      </header>
      <nav class="menu">
        <a href="../index.html">Inicio</a>
        <a href="products.html">Productos</a>
        <a href="contact.html">Quienes Somos & cont&aacutectanos</a>
      </nav>
    </section>
    <img
      class="img-nav"
      loading="lazy"
      src="../docs/backgrounds/TermoformadosJG.jpg"
      alt="TermoformadosJG"
    />
    <footer class="footer">
      <h2>Cont&aacutectanos</h2>
      <ul>
        <p>Tel&eacutefono: 9018216 Cel: 3114616533 / 3102552544</p>
        <p>Email: Termoformados.jg@hotmail.com</p>
        <p>Direcci&oacuten: Calle 32 b # 19-09 Este.</p>
        <p>Soacha Cundinamarca</p>
      </ul>
      <div class="social-btns">
        <a class="btn facebook"
          ><img
            class="fa fa-facebook"
            src="../docs/icons/iconFC.ico"
            alt="TermoformadosJG"
        /></a>
        <a class="btn instagram"
          ><img
            class="fa fa-instagram"
            src="../docs/icons/iconI.ico"
            alt="TermoformadosJG"
        /></a>
      </div>
      <div class="reciclado">
        <img
          class="ico-footer_reciclaje"
          src="../docs/icons/icon.ico"
          alt="TermoformadosJG"
        />
        <p>Materiales 100% recuperados</p>
      </div>
    </footer>
    <div class="developers-container">
      <span>Termoformados & Troquelados. Todos los derechos reservados</span>
      <span
        >Diseño y Desarrollo de la p&aacutegina. Contacto:
        santiago.dev06@gmail.com</span
      >
    </div>
    <div class="mision square">
      <h1>Quienes Somos</h1>
      <hr />
      <div class="QuienesSomos square">
        <p>
          Somos un equipo de trabajo creado para crear soluciones en material de
          empaque, funcionales y atractivos para la presentación de sus
          productos. Nuestro más grande desafío, superar las expectativas de
          nuestros clientes en calidad y servicio.
        </p>
      </div>
      <h2 class="titulo">Misi&oacuten</h2>
      <p>
        Fabricar materiales de empaque de óptima calidad, brindando asesoría en
        diseño y materiales, buscando siempre satisfacer las necesidades de
        nuestros clientes.
      </p>
      <div class="vision square">
        <h2 class="titulo">Visi&oacuten</h2>
        <p>
          Crecer en calidad y servicio, ser reconocida como la mejor empresa en
          Termoformados y empaques, para el año 2030 seremos reconocidos como
          una empresa sólida por su cultura en calidad, servicio en el área de
          los Termoformados. Trataremos de estár acorde con la evolución de
          materiales biodegradables para no afectar al planeta y comprometernos
          día a día con los cambios correspondientes a la legislación en pro del
          beneficio del cambio climático.
        </p>
      </div>
    </div>
    <section class="chat-container">
      <img
        src="../docs/icons/iconM.ico"
        class="chat-button"
        id="buttonFb"
        alt="TermoformadosJG"
      />
      <div class="chat-content" id="chat">
        <iframe
          src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTermoformados-
                Troquelados-JG-190642551559996%2F&tabs=messages&width=340&height=500&small_header=true&adapt_container_width
                =true&hide_cover=false&show_facepile=false&appId"
          width="340"
          height="500"
          style="border: none; overflow: hidden"
          scrolling="no"
          frameborder="0"
          allowTransparency="true"
          allow="encrypted-media"
        ></iframe>
      </div>
    </section>
    <script type="module" src="../JavaScript/contact.js"></script>
  </body>
</html>
