<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <title>Termoformados Jg</title>
</head>
<body>
    <header class="header">
        <img class="header__img" src="../docs/LOGO.png" alt="">
        <h1 class="titulo-principal">Termorformados & Troquelados</h1>
    </header>

    <nav class="menu">
            <a href="index.html">Inicio</a>
            <a href="products.html">Productos</a>
            <a href="about.html">Acerca de</a>
            <a href="contact.html">Contacto</a>
    </nav>

    <img src="" class="minicontainer" id="mini_one">

    <footer class="footer">
        <div class="contacto">
            <p>Contáctanos:</p>
            <p>Tel.9018216 - termorformados.jg@hotmail.com</p>
        </div>
        <div class="encuentranos">
            <p>Dirección: Calle 32 B # 19 09 Este</p>
            <p>Soacha - Cundinamarca</p>
        </div>
    </footer>
        
    <section class="chat-container">
        <img src="../docs/icon-Facebook.png" class="chat-button" id="buttonFb" alt="Messenger-Facebook">
        <div class="chat-content" id="chat">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTermoformados-
            Troquelados-JG-190642551559996%2F&tabs=messages&width=340&height=500&small_header=true&adapt_container_width
            =true&hide_cover=false&show_facepile=false&appId" width="340" height="430" style="border:none;overflow:hidden"
            scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
    </section>
    <script src="../JavaScript/index.js"></script>
</body>
</html>