<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Termoformados Jg</title>
</head>
<body>
    <header class="header">
        <img class="header__img" src="../docs/LOGOTT.png" alt="">
        <h3 class="title" style="color: white;">Termoformados & Troquelados</h3>
    </header>
    <nav class="menu">
            <a href="index.html">Inicio</a>
            <a href="products.html">Productos</a>
            <a href="about.html">Quienes Somos</a>
            <a href="contact.html">Contacto</a>
    </nav>
    <section class="container-banner">
        <img src="" class="minicontainer" id="mini_one"  >
        <img src="" class="minicontainer" id="mini_two"  >
        <img src="" class="minicontainer" id="mini_three">
        <img src="" class="minicontainer" id="mini_four" >
        <img src="" class="minicontainer" id="mini_five" >
    </section>
    <footer class="footer">
        <p>Telefono:9018216</p>
        <p>Direccion:Calle 32 B # 19 09 Este.</p>
        <p>Correo:termorformados.jg@hotmail.com</p>
        <p>Ubicacion:Soacha Cundinamarca</p>
    </footer>
    <section class="chat-container">
        <img src="../docs/icon-Facebook.png" class="chat-button" id="buttonFb" alt="Messenger-Facebook">
        <div class="chat-content" id="chat">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTermoformados-
            Troquelados-JG-190642551559996%2F&tabs=messages&width=340&height=500&small_header=true&adapt_container_width
            =true&hide_cover=false&show_facepile=false&appId" width="340" height="430" style="border:none;overflow:hidden"
            scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
    </section>
    <script src="../JavaScript/img.js"></script>
</body>
</html>