<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Termoformados Jg</title>
</head>
<body>
    <header class="header">
        <img class="header__img" src="../docs/LOGO.png" alt="">
        <h3 class="title" style="color: white;">Termoformados & Troquelados</h3>
    </header>
    <nav class="menu">
            <a href="index.html">Inicio</a>
            <a href="products.html">Productos</a>
            <a href="about.html">Quienes Somos</a>
            <a href="contact.html">Contacto</a>
    </nav>
    <section class="container-banner">
        <img src="" class="minicontainer" id="mini_one"  ></div>
        <img src="" class="minicontainer" id="mini_two"  ></div>
        <img src="" class="minicontainer" id="mini_three"></div>
        <img src="" class="minicontainer" id="mini_four" ></div>
        <img src="" class="minicontainer" id="mini_five" ></div>
    </section>
    <footer class="footer">
        <p>Telefono:9018216</p>
        <p>Direccion:Calle 32 B # 19 09 Este.</p>
        <p>Correo:termorformados.jg@hotmail.com</p>
        <p>Ubicacion:Soacha Cundinamarca</p>
    </footer>
    <script src="../JavaScript/img.js"></script>
</body>
</html>