<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/products.css">
    <title>Termoformados Jg</title>
</head>
<body>
    <header class="header">
        <img class="header__img" src="../docs/LOGO.png" alt="">
    </header>
    <nav class="menu">
            <a href="index.html">Inicio</a>
            <a href="products.html">Productos</a>
            <a href="about.html">Acerca de</a>
            <a href="contact.html">Contacto</a>
    </nav>
    <section class="carousel">
        <div class="carousel-parrafo">
            <img src="../docs/re.ico" class="carousel-ico">
            <p>Moldes</p>
        </div>
        <div class="carousel__container">
            <div class="carousel-items">
                <img class="carousel-items__img" src="" id="mini1">
            </div>
            <div class="carousel-items">
                <img class="carousel-items__img" src="" id="mini2">
            </div>
            <div class="carousel-items">
                <img class="carousel-items__img" src="" id="mini3">
            </div>
        </div>
    </section>
    <section class="carousel">
        <div class="carousel-parrafo">
            <img src="../docs/re.ico" class="carousel-ico">
            <p>Exhibidores</p>
        </div>
        <div class="carousel__container">
            <div class="carousel-items">
                <img class="carousel-items__img" src="" id="mini4">
            </div>
            <div class="carousel-items">
                <img class="carousel-items__img" src="" id="mini5">
            </div>
            <div class="carousel-items">
                <img class="carousel-items__img" src="" id="mini6">
            </div>
        </div>
    </section>
    <section class="carousel">
        <div class="carousel-parrafo">
            <img src="../docs/re.ico" class="carousel-ico">
            <p>Probadores</p>
        </div>
        <div class="carousel__container">
            <div class="carousel-items">
                <img class="carousel-items__img" src="" id="mini7">
            </div>
            <div class="carousel-items">
                <img class="carousel-items__img" src="" id="mini8">
            </div>
            <div class="carousel-items">
                <img class="carousel-items__img" src="" id="mini9">
            </div>
        </div>
    </section>
    <section class="carousel">
        <div class="carousel-parrafo">
            <img src="../docs/re.ico" class="carousel-ico">
            <p>Cunas</p>
        </div>
        <div class="carousel__container">
            <div class="carousel-items">
                <img class="carousel-items__img" src="" id="mini10">
            </div>
            <div class="carousel-items">
                <img class="carousel-items__img" src="" id="mini11">
            </div>
            <div class="carousel-items">
                <img class="carousel-items__img" src="" id="mini12">
            </div>
        </div>
    </section>
    <section class="carousel">
        <div class="carousel-parrafo">
            <img src="../docs/re.ico" class="carousel-ico">
            <p>Estuches</p>
        </div>
        <div class="carousel__container">
            <div class="carousel-items">
                <img class="carousel-items__img" src="" id="mini13">
            </div>
            <div class="carousel-items">
                <img class="carousel-items__img" src="" id="mini14">
            </div>
            <div class="carousel-items">
                <img class="carousel-items__img" src="" id="mini15">
            </div>
        </div>
    </section>
    <section class="carousel">
        <div class="carousel-parrafo">
            <img src="../docs/re.ico" class="carousel-ico">
            <p>Liners, Blister, Otros</p>
        </div>
        <div class="carousel__container">
            <div class="carousel-items">
                <img class="carousel-items__img" src="" id="mini16">
            </div>
            <div class="carousel-items">
                <img class="carousel-items__img" src="" id="mini17">
            </div>
            <div class="carousel-items">
                <img class="carousel-items__img" src="" id="mini18">
            </div>
        </div>
    </section>
    <footer class="footer">
        <p>Telefono:9018216</p>
        <p>Direccion:Calle 32 B # 19 09 Este.</p>
        <img  class="img-footer" src="" alt="">
        <p>Correo:termorformados.jg@hotmail.com</p>
        <p>Ubicacion:Soacha Cundinamarca</p>
</footer>
<section class="chat-container">
    <img src="../docs/icon-Facebook.png" class="chat-button" id="buttonFb" alt="Messenger-Facebook">
    <div class="chat-content" id="chat">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTermoformados-
        Troquelados-JG-190642551559996%2F&tabs=messages&width=340&height=500&small_header=true&adapt_container_width
        =true&hide_cover=false&show_facepile=false&appId" width="340" height="430" style="border:none;overflow:hidden"
        scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
</section>
<script src="../JavaScript/products.js"></script>
</body>
</html>