@media (max-width: 992px) {
  html {
    font-size: 10px;
  }
  .developers-container {
    font-size: 10px;
  }
  .header {
    position: relative;
    justify-content: space-around;
    height: 65px;
  }
  .header__img {
    position: absolute;
    z-index: 99;
    left: -13px;
    bottom: 17px;
  }
  body {
    grid-template-areas:
      " poster  poster "
      " sidebar sidebar"
      " mision  mision "
      " vision  vision "
      " dev     dev    ";
  }
}
