@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }

  .contenedor-imagenes {
    width: 95%;
  }
}

@media (max-width: 992px) {
    html
    {
        font-size: 13px;
    }
    .titulo-principal
    {
        font-size: 17px;
    }
    .btn-container
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);

        grid-template-areas:
                            " cunas     exhibidores probadores"
                            " estuches  empaques    moldes"
                            " galeria   galeria     galeria";
    }
    .btnGa
    {
        grid-area: galeria;
    }
    #btn-ghost 
    {
        border-bottom: none;
        margin: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
    }
    .footer
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contacto
    {
        font-size: 10px;
    }
    .developers-container
    {
        text-align: end;
    }
}

@media (max-width: 768px) {
  

  .contenedor-imagenes {
    width: 90%;
  }

  .contenedor-imagenes .imagenes {
    width: 48%;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 22px;
  }

  .contenedor-imagenes {
    width: 98%;
  }

  .contenedor-imagenes .imagenes {
    width: 80%;
  }
}
